USE [CSTable]
GO
/****** Object:  Table [dbo].[C]    Script Date: 23/03/2018 17:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
	[peso] [float] NOT NULL,
	[A] [float] NOT NULL,
	[d] [int] NOT NULL,
	[tw] [float] NOT NULL,
	[bf] [int] NOT NULL,
	[tf] [float] NOT NULL,
	[Ix] [float] NOT NULL,
	[Wx] [float] NOT NULL,
	[rx] [float] NOT NULL,
	[Zx] [float] NOT NULL,
	[Iy] [float] NOT NULL,
	[Wy] [float] NOT NULL,
	[ry] [float] NOT NULL,
	[Zy] [float] NOT NULL,
	[rT] [float] NOT NULL,
	[IT] [float] NOT NULL,
	[Cw] [float] NOT NULL,
	[ProfCode] [int] NOT NULL,
	[Fabrication] [int] NOT NULL,
 CONSTRAINT [PK_C] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CS]    Script Date: 23/03/2018 17:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
	[peso] [float] NOT NULL,
	[A] [float] NOT NULL,
	[d] [int] NOT NULL,
	[tw] [float] NOT NULL,
	[bf] [int] NOT NULL,
	[tf] [float] NOT NULL,
	[Ix] [float] NOT NULL,
	[Wx] [float] NOT NULL,
	[rx] [float] NOT NULL,
	[Zx] [float] NOT NULL,
	[Iy] [float] NOT NULL,
	[Wy] [float] NOT NULL,
	[ry] [float] NOT NULL,
	[Zy] [float] NOT NULL,
	[rT] [float] NOT NULL,
	[IT] [float] NOT NULL,
	[Cw] [float] NOT NULL,
	[ProfCode] [int] NOT NULL,
	[Fabrication] [int] NOT NULL,
	[R] [int] NOT NULL,
 CONSTRAINT [PK_CS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CVS]    Script Date: 23/03/2018 17:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
	[peso] [float] NOT NULL,
	[A] [float] NOT NULL,
	[d] [int] NOT NULL,
	[tw] [float] NOT NULL,
	[bf] [int] NOT NULL,
	[tf] [float] NOT NULL,
	[Ix] [float] NOT NULL,
	[Wx] [float] NOT NULL,
	[rx] [float] NOT NULL,
	[Zx] [float] NOT NULL,
	[Iy] [float] NOT NULL,
	[Wy] [float] NOT NULL,
	[ry] [float] NOT NULL,
	[Zy] [float] NOT NULL,
	[rT] [float] NOT NULL,
	[IT] [float] NOT NULL,
	[Cw] [float] NOT NULL,
	[ProfCode] [int] NOT NULL,
	[Fabrication] [int] NOT NULL,
	[R] [int] NOT NULL,
 CONSTRAINT [PK_CVS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CX]    Script Date: 23/03/2018 17:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CX](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
	[peso] [float] NOT NULL,
	[A] [float] NOT NULL,
	[d] [int] NOT NULL,
	[tw] [float] NOT NULL,
	[bf] [int] NOT NULL,
	[tf] [float] NOT NULL,
	[Ix] [float] NOT NULL,
	[Wx] [float] NOT NULL,
	[rx] [float] NOT NULL,
	[Zx] [float] NOT NULL,
	[Iy] [float] NOT NULL,
	[Wy] [float] NOT NULL,
	[ry] [float] NOT NULL,
	[Zy] [float] NOT NULL,
	[rT] [float] NOT NULL,
	[IT] [float] NOT NULL,
	[Cw] [float] NOT NULL,
	[ProfCode] [int] NOT NULL,
	[Fabrication] [int] NOT NULL,
 CONSTRAINT [PK_CX] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PS]    Script Date: 23/03/2018 17:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
	[peso] [float] NOT NULL,
	[A] [float] NOT NULL,
	[d] [int] NOT NULL,
	[tw] [float] NOT NULL,
	[bf] [int] NOT NULL,
	[tf] [float] NOT NULL,
	[Ix] [float] NOT NULL,
	[Wx] [float] NOT NULL,
	[rx] [float] NOT NULL,
	[Zx] [float] NOT NULL,
	[Iy] [float] NOT NULL,
	[Wy] [float] NOT NULL,
	[ry] [float] NOT NULL,
	[Zy] [float] NOT NULL,
	[rT] [float] NOT NULL,
	[IT] [float] NOT NULL,
	[Cw] [float] NOT NULL,
	[ProfCode] [int] NOT NULL,
	[Fabrication] [int] NOT NULL,
	[R] [int] NOT NULL,
 CONSTRAINT [PK_PS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSa]    Script Date: 23/03/2018 17:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
	[peso] [float] NOT NULL,
	[A] [float] NOT NULL,
	[d] [int] NOT NULL,
	[tw] [float] NOT NULL,
	[bfs] [int] NOT NULL,
	[bfi] [int] NOT NULL,
	[tfs] [float] NOT NULL,
	[tfi] [float] NOT NULL,
	[Ix] [float] NOT NULL,
	[Wxs] [float] NOT NULL,
	[Wxi] [float] NOT NULL,
	[rx] [float] NOT NULL,
	[Zx] [float] NOT NULL,
	[Iy] [float] NOT NULL,
	[Wy] [float] NOT NULL,
	[ry] [float] NOT NULL,
	[Zy] [float] NOT NULL,
	[rT] [float] NOT NULL,
	[IT] [float] NOT NULL,
	[Cw] [float] NOT NULL,
	[ProfCode] [int] NOT NULL,
	[Fabrication] [int] NOT NULL,
	[R] [int] NOT NULL,
 CONSTRAINT [PK_PSa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T]    Script Date: 23/03/2018 17:27:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
	[peso] [float] NOT NULL,
	[A] [float] NOT NULL,
	[d] [int] NOT NULL,
	[tw] [float] NOT NULL,
	[bf] [int] NOT NULL,
	[tf] [float] NOT NULL,
	[Ix] [float] NOT NULL,
	[Wx] [float] NOT NULL,
	[rx] [float] NOT NULL,
	[Zx] [float] NOT NULL,
	[Iy] [float] NOT NULL,
	[Wy] [float] NOT NULL,
	[ry] [float] NOT NULL,
	[Zy] [float] NOT NULL,
	[rT] [float] NOT NULL,
	[IT] [float] NOT NULL,
	[Cw] [float] NOT NULL,
	[ProfCode] [int] NOT NULL,
	[Fabrication] [int] NOT NULL,
 CONSTRAINT [PK_T] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TQ]    Script Date: 23/03/2018 17:27:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TQ](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
	[peso] [float] NOT NULL,
	[A] [float] NOT NULL,
	[d] [int] NOT NULL,
	[tw] [float] NOT NULL,
	[bf] [int] NOT NULL,
	[tf] [float] NOT NULL,
	[Ix] [float] NOT NULL,
	[Wx] [float] NOT NULL,
	[rx] [float] NOT NULL,
	[Zx] [float] NOT NULL,
	[Iy] [float] NOT NULL,
	[Wy] [float] NOT NULL,
	[ry] [float] NOT NULL,
	[Zy] [float] NOT NULL,
	[rT] [float] NOT NULL,
	[IT] [float] NOT NULL,
	[Cw] [float] NOT NULL,
	[ProfCode] [int] NOT NULL,
	[Fabrication] [int] NOT NULL,
 CONSTRAINT [PK_TQ] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TR]    Script Date: 23/03/2018 17:27:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
	[peso] [float] NOT NULL,
	[A] [float] NOT NULL,
	[d] [int] NOT NULL,
	[tw] [float] NOT NULL,
	[bf] [int] NOT NULL,
	[tf] [float] NOT NULL,
	[Ix] [float] NOT NULL,
	[Wx] [float] NOT NULL,
	[rx] [float] NOT NULL,
	[Zx] [float] NOT NULL,
	[Iy] [float] NOT NULL,
	[Wy] [float] NOT NULL,
	[ry] [float] NOT NULL,
	[Zy] [float] NOT NULL,
	[rT] [float] NOT NULL,
	[IT] [float] NOT NULL,
	[Cw] [float] NOT NULL,
	[ProfCode] [int] NOT NULL,
	[Fabrication] [int] NOT NULL,
 CONSTRAINT [PK_TR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TW]    Script Date: 23/03/2018 17:27:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TW](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
	[peso] [float] NOT NULL,
	[A] [float] NOT NULL,
	[d] [int] NOT NULL,
	[tw] [float] NOT NULL,
	[bf] [int] NOT NULL,
	[tf] [float] NOT NULL,
	[Ix] [float] NOT NULL,
	[Wx] [float] NOT NULL,
	[rx] [float] NOT NULL,
	[Zx] [float] NOT NULL,
	[Iy] [float] NOT NULL,
	[Wy] [float] NOT NULL,
	[ry] [float] NOT NULL,
	[Zy] [float] NOT NULL,
	[rT] [float] NOT NULL,
	[IT] [float] NOT NULL,
	[Cw] [float] NOT NULL,
	[ProfCode] [int] NOT NULL,
	[Fabrication] [int] NOT NULL,
 CONSTRAINT [PK_TW] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VS]    Script Date: 23/03/2018 17:27:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
	[peso] [float] NOT NULL,
	[A] [float] NOT NULL,
	[d] [int] NOT NULL,
	[tw] [float] NOT NULL,
	[bf] [int] NOT NULL,
	[tf] [float] NOT NULL,
	[Ix] [float] NOT NULL,
	[Wx] [float] NOT NULL,
	[rx] [float] NOT NULL,
	[Zx] [float] NOT NULL,
	[Iy] [float] NOT NULL,
	[Wy] [float] NOT NULL,
	[ry] [float] NOT NULL,
	[Zy] [float] NOT NULL,
	[rT] [float] NOT NULL,
	[IT] [float] NOT NULL,
	[Cw] [float] NOT NULL,
	[ProfCode] [int] NOT NULL,
	[Fabrication] [int] NOT NULL,
	[R] [int] NOT NULL,
 CONSTRAINT [PK_VS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VSM]    Script Date: 23/03/2018 17:27:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VSM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
	[peso] [float] NOT NULL,
	[A] [float] NOT NULL,
	[d] [int] NOT NULL,
	[tw] [float] NOT NULL,
	[bfs] [int] NOT NULL,
	[bfi] [int] NOT NULL,
	[tfs] [float] NOT NULL,
	[tfi] [float] NOT NULL,
	[Ix] [float] NOT NULL,
	[Wxs] [float] NOT NULL,
	[Wxi] [float] NOT NULL,
	[rx] [float] NOT NULL,
	[Zx] [float] NOT NULL,
	[Iy] [float] NOT NULL,
	[Wy] [float] NOT NULL,
	[ry] [float] NOT NULL,
	[Zy] [float] NOT NULL,
	[rT] [float] NOT NULL,
	[IT] [float] NOT NULL,
	[Cw] [float] NOT NULL,
	[ProfCode] [int] NOT NULL,
	[Fabrication] [int] NOT NULL,
	[R] [int] NOT NULL,
 CONSTRAINT [PK_VSM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[W]    Script Date: 23/03/2018 17:27:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[W](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
	[peso] [float] NOT NULL,
	[A] [float] NOT NULL,
	[d] [int] NOT NULL,
	[tw] [float] NOT NULL,
	[bf] [int] NOT NULL,
	[tf] [float] NOT NULL,
	[Ix] [float] NOT NULL,
	[Wx] [float] NOT NULL,
	[rx] [float] NOT NULL,
	[Zx] [float] NOT NULL,
	[Iy] [float] NOT NULL,
	[Wy] [float] NOT NULL,
	[ry] [float] NOT NULL,
	[Zy] [float] NOT NULL,
	[rT] [float] NOT NULL,
	[IT] [float] NOT NULL,
	[Cw] [float] NOT NULL,
	[ProfCode] [int] NOT NULL,
	[Fabrication] [int] NOT NULL,
	[R] [int] NOT NULL,
 CONSTRAINT [PK_W] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CS] ON 

INSERT [dbo].[CS] ([ID], [nome], [peso], [A], [d], [tw], [bf], [tf], [Ix], [Wx], [rx], [Zx], [Iy], [Wy], [ry], [Zy], [rT], [IT], [Cw], [ProfCode], [Fabrication], [R]) VALUES (1, N'CS200 x 34', 34.2, 43.6, 200, 6.3, 200, 8, 3278, 328, 8.67, 361, 1067, 107, 4.95, 162, 5.45, 8, 98304, 100, 1, 0)
INSERT [dbo].[CS] ([ID], [nome], [peso], [A], [d], [tw], [bf], [tf], [Ix], [Wx], [rx], [Zx], [Iy], [Wy], [ry], [Zy], [rT], [IT], [Cw], [ProfCode], [Fabrication], [R]) VALUES (2, N'CS200 x 39', 38.8, 49.4, 200, 6.3, 200, 9.5, 3762, 376, 8.73, 414, 1267, 127, 5.06, 192, 5.51, 13, 114919, 100, 1, 0)
INSERT [dbo].[CS] ([ID], [nome], [peso], [A], [d], [tw], [bf], [tf], [Ix], [Wx], [rx], [Zx], [Iy], [Wy], [ry], [Zy], [rT], [IT], [Cw], [ProfCode], [Fabrication], [R]) VALUES (3, N'CS200 x 41', 41.2, 52.5, 200, 8, 200, 9.5, 3846, 385, 8.56, 427, 1267, 127, 4.91, 193, 5.44, 15, 114919, 100, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[CS] OFF
SET IDENTITY_INSERT [dbo].[CVS] ON 

INSERT [dbo].[CVS] ([ID], [nome], [peso], [A], [d], [tw], [bf], [tf], [Ix], [Wx], [rx], [Zx], [Iy], [Wy], [ry], [Zy], [rT], [IT], [Cw], [ProfCode], [Fabrication], [R]) VALUES (1, N'CVS200 x 21', 20.8, 26.5, 200, 4.75, 140, 6.3, 1963, 196, 8.61, 212, 288, 41, 3.3, 63, 3.74, 3, 27025, 100, 1, 0)
INSERT [dbo].[CVS] ([ID], [nome], [peso], [A], [d], [tw], [bf], [tf], [Ix], [Wx], [rx], [Zx], [Iy], [Wy], [ry], [Zy], [rT], [IT], [Cw], [ProfCode], [Fabrication], [R]) VALUES (2, N'CVS200 x 24', 24.4, 31.1, 200, 4.75, 140, 8, 2312, 231, 8.62, 255, 366, 52, 3.43, 79, 3.8, 5.5, 33718, 100, 1, 0)
INSERT [dbo].[CVS] ([ID], [nome], [peso], [A], [d], [tw], [bf], [tf], [Ix], [Wx], [rx], [Zx], [Iy], [Wy], [ry], [Zy], [rT], [IT], [Cw], [ProfCode], [Fabrication], [R]) VALUES (3, N'CVS200 x 28', 27.6, 35.2, 200, 4.75, 140, 9.5, 2650, 265, 8.68, 292, 435, 62, 3.52, 94, 3.84, 8.7, 39417, 100, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[CVS] OFF
SET IDENTITY_INSERT [dbo].[VS] ON 

INSERT [dbo].[VS] ([ID], [nome], [peso], [A], [d], [tw], [bf], [tf], [Ix], [Wx], [rx], [Zx], [Iy], [Wy], [ry], [Zy], [rT], [IT], [Cw], [ProfCode], [Fabrication], [R]) VALUES (1, N'VS200 x 19', 18.8, 24, 200, 4.8, 120, 6.3, 1720, 172, 8.5, 188, 182, 30, 2.8, 46, 3.2, 2.7, 17019, 100, 1, 0)
INSERT [dbo].[VS] ([ID], [nome], [peso], [A], [d], [tw], [bf], [tf], [Ix], [Wx], [rx], [Zx], [Iy], [Wy], [ry], [Zy], [rT], [IT], [Cw], [ProfCode], [Fabrication], [R]) VALUES (2, N'VS200 x 22', 21.9, 27.9, 200, 4.8, 120, 8, 2017, 202, 8.5, 225, 231, 39, 2.9, 59, 3.2, 4.8, 21234, 100, 1, 0)
INSERT [dbo].[VS] ([ID], [nome], [peso], [A], [d], [tw], [bf], [tf], [Ix], [Wx], [rx], [Zx], [Iy], [Wy], [ry], [Zy], [rT], [IT], [Cw], [ProfCode], [Fabrication], [R]) VALUES (3, N'VS200 x 25', 24.6, 31.4, 200, 4.8, 120, 9.5, 2305, 231, 8.6, 256, 274, 46, 3, 69, 3.3, 7.5, 24823, 100, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[VS] OFF
SET IDENTITY_INSERT [dbo].[VSM] ON 

INSERT [dbo].[VSM] ([ID], [nome], [peso], [A], [d], [tw], [bfs], [bfi], [tfs], [tfi], [Ix], [Wxs], [Wxi], [rx], [Zx], [Iy], [Wy], [ry], [Zy], [rT], [IT], [Cw], [ProfCode], [Fabrication], [R]) VALUES (1, N'VSM-200 x 18', 18.1, 23.1, 200, 4.75, 100, 100, 6.3, 8, 1573, 148, 168, 8.25, 179, 119, 24, 2.27, 77, 2.58, 3, 10923, 102, 1, 0)
INSERT [dbo].[VSM] ([ID], [nome], [peso], [A], [d], [tw], [bfs], [bfi], [tfs], [tfi], [Ix], [Wxs], [Wxi], [rx], [Zx], [Iy], [Wy], [ry], [Zy], [rT], [IT], [Cw], [ProfCode], [Fabrication], [R]) VALUES (2, N'VSM-200 x 19', 19.2, 24.5, 200, 4.75, 100, 100, 6.3, 9.5, 1669, 150, 188, 8.25, 192, 132, 26, 2.32, 80, 2.57, 4, 11649, 102, 1, 0)
INSERT [dbo].[VSM] ([ID], [nome], [peso], [A], [d], [tw], [bfs], [bfi], [tfs], [tfi], [Ix], [Wxs], [Wxi], [rx], [Zx], [Iy], [Wy], [ry], [Zy], [rT], [IT], [Cw], [ProfCode], [Fabrication], [R]) VALUES (3, N'VSM-200 x 22', 21.5, 27.4, 200, 4.75, 100, 100, 6.3, 12.5, 1823, 153, 226, 8.16, 218, 157, 31, 2.39, 86, 2.55, 8, 12681, 102, 1, 0)
SET IDENTITY_INSERT [dbo].[VSM] OFF
SET IDENTITY_INSERT [dbo].[W] ON 

INSERT [dbo].[W] ([ID], [nome], [peso], [A], [d], [tw], [bf], [tf], [Ix], [Wx], [rx], [Zx], [Iy], [Wy], [ry], [Zy], [rT], [IT], [Cw], [ProfCode], [Fabrication], [R]) VALUES (1, N'﻿W 150 x 13,0', 13, 16.6, 148, 4.3, 100, 4.9, 635, 85.8, 6.18, 96.4, 82, 16.4, 2.22, 25.5, 2.6, 1.72, 4181, 101, 2, 10)
INSERT [dbo].[W] ([ID], [nome], [peso], [A], [d], [tw], [bf], [tf], [Ix], [Wx], [rx], [Zx], [Iy], [Wy], [ry], [Zy], [rT], [IT], [Cw], [ProfCode], [Fabrication], [R]) VALUES (2, N'W 150 x 18,0', 18, 23.4, 153, 5.8, 102, 7.1, 939, 122.8, 6.34, 139.4, 126, 24.7, 2.32, 38.5, 2.69, 4.34, 6683, 101, 2, 10)
INSERT [dbo].[W] ([ID], [nome], [peso], [A], [d], [tw], [bf], [tf], [Ix], [Wx], [rx], [Zx], [Iy], [Wy], [ry], [Zy], [rT], [IT], [Cw], [ProfCode], [Fabrication], [R]) VALUES (3, N'W 150 x 22,5 (H)', 22.5, 29, 152, 5.8, 152, 6.6, 1229, 161.7, 6.51, 179.6, 387, 50.9, 3.65, 77.9, 4.1, 4.75, 20417, 101, 2, 10)
SET IDENTITY_INSERT [dbo].[W] OFF
